<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycourlee.ms.labbooking.mapper.LabMapper">
  <resultMap id="BaseResultMap" type="com.ycourlee.ms.labbooking.model.entity.LabEntity">
    <!--@mbg.generated-->
    <!--@Table t_lab-->
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="max_capacity" jdbcType="INTEGER" property="maxCapacity"/>
    <result column="instrument_amount" jdbcType="INTEGER" property="instrumentAmount"/>
    <result column="instrument_memo" jdbcType="VARCHAR" property="instrumentMemo"/>
    <result column="status" jdbcType="INTEGER" property="status"/>
    <result column="location" jdbcType="VARCHAR" property="location"/>
    <result column="open_time" jdbcType="VARCHAR" property="openTime"/>
    <result column="close_time" jdbcType="VARCHAR" property="closeTime"/>
    <result column="memo" jdbcType="LONGVARCHAR" property="memo"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId"/>
    <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId"/>
    <result column="update_username" jdbcType="VARCHAR" property="updateUsername"/>
    <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, max_capacity, instrument_amount, instrument_memo, status,
    `location`, open_time, close_time, memo, create_time, create_user_id, create_username,
    update_time, update_user_id, update_username, is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List"/>
    from t_lab
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete
    from t_lab
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ycourlee.ms.labbooking.model.entity.LabEntity" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_lab (`name`, max_capacity, instrument_amount,
                       instrument_memo, status,
                       `location`, open_time, close_time,
                       memo, create_time, create_user_id,
                       create_username, update_time, update_user_id,
                       update_username, is_delete)
    values (#{name,jdbcType=VARCHAR}, #{maxCapacity,jdbcType=INTEGER}, #{instrumentAmount,jdbcType=INTEGER},
            #{instrumentMemo,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
            #{location,jdbcType=VARCHAR}, #{openTime,jdbcType=VARCHAR}, #{closeTime,jdbcType=VARCHAR},
            #{memo,jdbcType=LONGVARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER},
            #{createUsername,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=INTEGER},
            #{updateUsername,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ycourlee.ms.labbooking.model.entity.LabEntity" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_lab
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="maxCapacity != null">
        max_capacity,
      </if>
      <if test="instrumentAmount != null">
        instrument_amount,
      </if>
      <if test="instrumentMemo != null">
        instrument_memo,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="location != null">
        `location`,
      </if>
      <if test="openTime != null">
        open_time,
      </if>
      <if test="closeTime != null">
        close_time,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createUsername != null">
        create_username,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="updateUsername != null">
        update_username,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="maxCapacity != null">
        #{maxCapacity,jdbcType=INTEGER},
      </if>
      <if test="instrumentAmount != null">
        #{instrumentAmount,jdbcType=INTEGER},
      </if>
      <if test="instrumentMemo != null">
        #{instrumentMemo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="openTime != null">
        #{openTime,jdbcType=VARCHAR},
      </if>
      <if test="closeTime != null">
        #{closeTime,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=LONGVARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createUsername != null">
        #{createUsername,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUsername != null">
        #{updateUsername,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ycourlee.ms.labbooking.model.entity.LabEntity">
    <!--@mbg.generated-->
    update t_lab
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="maxCapacity != null">
        max_capacity = #{maxCapacity,jdbcType=INTEGER},
      </if>
      <if test="instrumentAmount != null">
        instrument_amount = #{instrumentAmount,jdbcType=INTEGER},
      </if>
      <if test="instrumentMemo != null">
        instrument_memo = #{instrumentMemo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        `location` = #{location,jdbcType=VARCHAR},
      </if>
      <if test="openTime != null">
        open_time = #{openTime,jdbcType=VARCHAR},
      </if>
      <if test="closeTime != null">
        close_time = #{closeTime,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=LONGVARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createUsername != null">
        create_username = #{createUsername,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUsername != null">
        update_username = #{updateUsername,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ycourlee.ms.labbooking.model.entity.LabEntity">
    <!--@mbg.generated-->
    update t_lab
    set `name`            = #{name,jdbcType=VARCHAR},
        max_capacity      = #{maxCapacity,jdbcType=INTEGER},
        instrument_amount = #{instrumentAmount,jdbcType=INTEGER},
        instrument_memo   = #{instrumentMemo,jdbcType=VARCHAR},
        status            = #{status,jdbcType=INTEGER},
        `location`        = #{location,jdbcType=VARCHAR},
        open_time         = #{openTime,jdbcType=VARCHAR},
        close_time        = #{closeTime,jdbcType=VARCHAR},
        memo              = #{memo,jdbcType=LONGVARCHAR},
        create_time       = #{createTime,jdbcType=TIMESTAMP},
        create_user_id    = #{createUserId,jdbcType=INTEGER},
        create_username   = #{createUsername,jdbcType=VARCHAR},
        update_time       = #{updateTime,jdbcType=TIMESTAMP},
        update_user_id    = #{updateUserId,jdbcType=INTEGER},
        update_username   = #{updateUsername,jdbcType=VARCHAR},
        is_delete         = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>