<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycourlee.ms.labbooking.mapper.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.ycourlee.ms.labbooking.model.entity.ResourceEntity">
    <!--@mbg.generated-->
    <!--@Table t_resource-->
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="type" jdbcType="INTEGER" property="type"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
    <result column="route" jdbcType="VARCHAR" property="route"/>
    <result column="path" jdbcType="VARCHAR" property="path"/>
    <result column="contain_path_var" jdbcType="INTEGER" property="containPathVar"/>
    <result column="sort" jdbcType="INTEGER" property="sort"/>
    <result column="memo" jdbcType="VARCHAR" property="memo"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `type`, `name`, parent_id, route, `path`, contain_path_var, sort, memo, create_time,
    update_time, is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List"/>
    from t_resource
    where id = #{id,jdbcType=INTEGER}
      and is_delete = 0
  </select>
  <select id="selectByPrimaryKeyEvenIfRemoved" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_resource
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete
    from t_resource
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ycourlee.ms.labbooking.model.entity.ResourceEntity" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_resource (`type`, `name`, parent_id,
                            route, `path`, contain_path_var, sort,
                            memo, create_time, update_time,
                            is_delete)
    values (#{type,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER},
            #{route,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{containPathVar,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER},
            #{memo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
            #{isDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ycourlee.ms.labbooking.model.entity.ResourceEntity" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="type != null">
        `type`,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="route != null">
        route,
      </if>
      <if test="path != null">
        `path`,
      </if>
      <if test="containPathVar != null">
        contain_path_var,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="route != null">
        #{route,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="containPathVar != null">
        #{containPathVar,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ycourlee.ms.labbooking.model.entity.ResourceEntity">
    <!--@mbg.generated-->
    update t_resource
    <set>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="route != null">
        route = #{route,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        `path` = #{path,jdbcType=VARCHAR},
      </if>
      <if test="containPathVar != null">
        contain_path_var = #{containPathVar,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ycourlee.ms.labbooking.model.entity.ResourceEntity">
    <!--@mbg.generated-->
    update t_resource
    set `type`           = #{type,jdbcType=INTEGER},
        `name`           = #{name,jdbcType=VARCHAR},
        parent_id        = #{parentId,jdbcType=INTEGER},
        route            = #{route,jdbcType=VARCHAR},
        `path`           = #{path,jdbcType=VARCHAR},
        contain_path_var = #{containPathVar,jdbcType=INTEGER},
        sort             = #{sort,jdbcType=INTEGER},
        memo             = #{memo,jdbcType=VARCHAR},
        create_time      = #{createTime,jdbcType=TIMESTAMP},
        update_time      = #{updateTime,jdbcType=TIMESTAMP},
        is_delete        = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="listByIdCollection" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_resource where id in
    <foreach close=")" collection="idCollection" item="id" open="(" separator=",">
      #{id}
    </foreach>
    and is_delete = 0
  </select>

  <update id="batchUpdateParentIdByIdCollection">
    update t_resource
    set parent_id = #{id}
            where id in
    <foreach close=")" collection="idCollection" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </update>

  <select id="countByIdCollection" resultType="int">
    select count(1)
    from t_resource where id in
    <foreach close=")" collection="idCollection" item="id" open="(" separator=",">
      #{id}
    </foreach>
    and is_delete = 0
  </select>

  <select id="listResIdByParentResId" resultType="java.lang.Integer">
    select id
    from t_resource
    where parent_id = #{parentId}
      and is_delete = 0
  </select>

  <update id="removeFromResourceAndParentResource">
    update t_resource
    set is_delete = 1
    where id = #{id}
       or parent_id = #{id}
  </update>

  <select id="selectByApiPath" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_resource
    where path = #{uri}
      and is_delete = 0
  </select>

  <select id="listOrderedSortByDclTypeParentId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_resource
    <where>
      <if test="type != null and type > 0">
        and type = #{type,jdbcType=INTEGER}
      </if>
      and parent_id = #{parentId}
      and is_delete = 0
    </where>
    order by sort asc
  </select>

  <select id="listApiByDclNamePathContainPathVar" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_resource where type = 2
    <if test="path != null and path != ''">
      and path like concat('', #{path}, '%')
    </if>
    <if test="name != null and name != ''">
      and name like concat('%', #{name}, '%')
    </if>
    <if test="containPathVar != null">
      and contain_path_var = #{containPathVar}
    </if>
    and is_delete = 0
  </select>
</mapper>